#navbar {
    display: flex;
    padding: 0.75em;
    width: 100%;
    overflow: hidden;
}

#navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    font-size: 0.6em;
}

#navbar ul li a {
    list-style-type: none;
    flex-direction: column;
    text-align: right;
    padding: 2px;
    font-size: 1em;
}

#navbar div.link-field {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#navbar div.name-field {
    width: 30%;
}

.heading-medium {
    font-size: 1.25em;
}

.heading-small {
    font-size: 0.75em;
}